# General Python
__pycache__/
*.py[cod]
*.log
*.tmp
*.bak

# Virtual env
.venv/
env/
venv/

# Build
build/
dist/
*.spec
*.egg-info/

# Output
output/
*.processed.png
*.traineddata

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Android/iOS
*.iml
.gradle/
local.properties
*.apk
*.ipa

# Node/npm (for docs if ever used)
node_modules/

# macOS
*.DS_Store