# Core OCR dependencies
pytesseract
easyocr
pdf2image
Pillow
opencv-python
python-docx
python-bidi
arabic-reshaper
numpy
scipy

# Subtitle & document support
chardet
pysrt
ebooklib
beautifulsoup4

# CLI, API, UI
typer[all]
fastapi
uvicorn[standard]
streamlit

# AI postprocessing
transformers
torch

# Test & Dev
pytest
coverage
mkdocs
mkdocs-material

# Windows compatibility
pywin32; platform_system == "Windows"
